.header-container {
   display: flex;
   align-items: center;
   justify-content: left;
   height: 70vh;
   color: var(--color-white);
}

.header-container .text h1 {
   font-size: 5rem;
   text-transform: uppercase;
   font-weight: 700;
}

.header-container .text h1 span {
   color: var(--color-yellow);
}

.header-container .text p {
   font-size: 2rem;
}

.header-container .text .buttons a {
   text-transform: uppercase;
}

.header-container .text .buttons {
   padding-top: 1rem;
   font-weight: bold;
}

.header-container .text .buttons .first {
   background-color: var(--color-yellow);
   color: var(--color-white);
   padding: 0.8rem 1rem;
   border: 2px solid var(--color-yellow);
   margin-right: 1rem;
}

.header-container .text .buttons .first:hover {
   border: 2px solid var(--color-white);
   background-color: transparent;
   transition: 0.3s ease-in all;
}

.header-container .text .buttons .second {
   background-color: transparent;
   color: var(--color-white);
   padding: 0.8rem 2.1rem;
   border: 2px solid var(--color-white);
}

.header-container .text .buttons .second:hover {
   background-color: var(--color-yellow);
   border: 2px solid var(--color-yellow);
   transition: 0.3s ease-in all;
}

@media (max-width: 700px) {
   .header-container .text h1 {
      font-size: 3.5rem;
   }

   .header-container .text p {
      font-size: 1.5rem;
   }
}

@media (max-width: 450px) {
   .header-container {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .header-container .text {
      text-align: center;
   }

   .header-container .text h1 {
      font-size: 3rem;
   }

   .header-container .text p {
      font-size: 1.2rem;
   }

   .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .header-container .text .buttons .first {
      margin-right: 0rem;
      margin-bottom: 1.5rem;
   }
}

@media (max-width: 400px) {
   .header-container .text h1 {
      font-size: 2.7rem;
   }

   .header-container .text p {
      font-size: 1rem;
   }
}

@media (max-width: 350px) {
   .header-container .text h1 {
      font-size: 2.5rem;
   }

   .header-container .text p {
      font-size: 1rem;
   }
}
